body {
    height: 100vh;
}

.navbar-brand {
    text-align: center;
}

#app {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

#main {
    display: flex;
    flex-flow: column;

    align-items: center;
}