<!DOCTYPE html>
<html lang="en">
  
  {% include "header.html" %}

  <body>

    {% include "navbar.html" %}

    <div id="app">
      <form action="/" method="POST">
        <div id="main">
          <div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><img src="https://img.icons8.com/material-outlined/24/null/link--v1.png"/></span>
                <input 
                  type="text" 
                  name="url" 
                  class="form-control" 
                  placeholder="Enter URL" 
                  aria-label="Enter URL" 
                  aria-describedby="basic-addon1" 
                  pattern="^((ftp|http|https):\/\/)?[^ ]+$"
                />
              </div>
          </div>
          <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary">Shorten</button>
            <a href="/display" class="btn btn-primary">Display All Links</a>
          </div>
        </div>
      </form>

      {% if copied %}

        <p>Short Link copied to clipboard</p>

      {% endif %}

    </div>
  </body>
</html>
